.siwht{
  position: relative;
  width: 100%;
  height: 250px;
  align-items: center;
  text-align: center;
  display: inline-grid;
  a{
    color: initial;
  }
  .content-overlay{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    align-items: center;
    display: inline-grid;
    word-break: break-all;
  }
  .field--name-field-siwht-image{
    img {
      width: 100%;
      height: auto;
    }

  }
  &:hover{
    .content-overlay{
      opacity: 1;
    }
  }
}