/*** Simple image two text columns ***/
.sittc{
  &__row{}
  &__col{
    &--left{
      text-align:right;
      @media screen and (max-width:576px) {
        text-align:center;
      }
    }
    &--right{
      text-align:left;
      @media screen and (max-width:576px) {
        text-align:center;
      }
    }
  }
  &__media{
    margin-bottom: -5.5rem;
    .field--name-field-sittc-image{
      margin:0;
    }
    img{
      width:50%;
      display:block;
      margin:0 auto;
      @media screen and (max-width:576px) {
        width:100%;
      }
    }
  }
  &__text{
    padding:8.5rem 4rem 3rem;
    @media screen and (max-width:576px) {
      padding:7rem 3rem 2rem;
    }
  }
}